/* Main Layout */
.main-layout {
  display: flex;
  gap: 2rem;
  padding: 1rem 2rem;
}

.sidebar {
  width: 250px;
  position: fixed;
  height: 100vh;
  border-right: 2px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  background-color: white; /* prevents overlap transparency */
}

.logo-container {
  margin-bottom: 4rem;
}

.logo-container h1 {
  margin-top: 1.3rem;
}
